#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
  z-index: 1;
}

.main-chat {
  margin-top: 100px;
  /* 수직으로 정렬하고,축이 바꼈으므로 align-itmes:center로 중앙 배치(#6.30) */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*애니메이션 적용*/

@keyframes fadeIn-up {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 20px;
  animation: fadeIn-up 0.5s linear;
}

@keyframes fadeIn-left {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  animation: fadeIn-left 0.5s linear;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end; /*말풍선 옆 시간을 아래로 정렬하기 위해*/
}

.message__bubble {
  background-color: white;
  padding: 7px 10px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  margin-right: 3px;
}

.message__time {
  opacity: 0.8;
  font-size: 11px;
}

@keyframes fadeIn-right {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row--own {
  justify-content: flex-end; /*flex 오른쪽 끝으로 위치를 조정*/
  animation: fadeIn-right 0.5s linear;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 12px;
  margin-right: 0px;
  margin-left: 3px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

/* 33강 입력창 생성 */
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 6px;
  padding-left: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -13.5px;
  top: 0px;
}

.reply__column:last-child > i {
  right: 35px;
  top: 14px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
  /* 클릭했을 때 아웃라인 제거 */
}

.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-14%) translateY(-80px); /*클릭시 옆으로 부드럽게 확장하게*/ /*그리고 Y축은 아래처럼 80PX 내려가지 않게*/
}

.reply:focus-within {
  transform: translateY(80px);
}
