.alt-header {
  padding: 30px var(--horizontal-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: end;
}

.alt-header__column-bars {
  margin-left: 8px;
}
