.badge {
  /*동그란 숫자가 담긴 원 말들기*/
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex; /*너비와 높이만 적용시키면 span이어서 변형되지 않으므로 flex로 만든다*/
  justify-content: center; /*flex를 중앙에 배치*/
  align-items: center; /*item(숫자 1)을 중앙에 배치*/
  color: white;
}
