.nav {
  position: fixed; /*스크롤을 내려도 고정된 위치에 있게 */
  bottom: 0;
  width: 100%; /*부모 너비를 다 받게끔, 50%면 부모의 반만큼의 너비만 사용함*/
  background-color: #f9f9fa;
  padding: 20px 45px;
  box-sizing: border-box; /*total box size를 변경하지 않게끔 */
  border-top: 1px solid rgba(110, 109, 109, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between; /*좌우로 꽉차게 정렬*/
}
.nav__link {
  position: relative; /*position:absolute를 위해 부모를 relative로 만듦*/
  color: #2e363e;
}

.nav__notification {
  /* 아이콘 오른쪽 상단에 숫자가 오게 만들기 */
  position: absolute; /*부모를 기준으로 위에 배치*/
  left: 15px;
  bottom: 15px;
}

.nav__eli-notification {
  background-color: tomato;
  display: flex;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
}
