.point {
  background-color: tomato;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: 1px;
}

.talk-drive {
  right: 20px;
  top: -1px;
}
