.status-bar {
  position: fixed;
  top: 0;
  width: 100%; /*fixed를 통해 고정만 시켜주면 깨지므로 부모의 너비에 맞게 배열*/
  display: flex; /* 같은 줄에 작성되게 끔 */
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child {
  display: flex;
  justify-content: flex-start;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center; /*아이콘을 세로로 비뚫어진 걸 정렬시킴*/
}
.status-bar__column .fa-wifi {
  margin: 0px 5px;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px; /*중간에 위치한 배터리에 마진을 줌으로써 양옆의 공간확보*/
}

.status-bar__column .fa-bolt {
  margin-right: 5px;
}
