.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 55px;
  height: 55px;
  border-radius: 35%;
  margin-right: 10px;
}

.user-component__title {
  font-weight: 600;
  font-size: 16px;
}

.user-component__subtitle {
  /*chat screen에 사용할 subtitle 미리 제작*/
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

/*같은 avatar이지만 너비랑 높이만 다르게 설정하여 크게 만들어줌*/
.user-component__avatar--xl {
  width: 65px;
  height: 65px;
}

/*같은 avatar이지만 너비랑 높이만 다르게 설정하여 작게 만들어줌*/
.user-component__avatar--sm {
  width: 55px;
  height: 55px;
  border-radius: 35%;
}

.user-component__title--not-bold {
  font-size: 14px;
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
